@CHARSET "ISO-8859-1";
//variables
$file-uploader__primaryColor: rgb(114, 191, 167);
$file-uploader__primaryColor--hover: lighten($file-uploader__primaryColor, 15%);
$file-uploader__black: #242424;
$file-uploader__error: rgb(214, 93, 56);

//style
.file-uploader {
  background-color: lighten($file-uploader__primaryColor, 30%);
  border-radius: 3px;
  color: $file-uploader__black;
}

.file-uploader__message-area {
  font-size: 18px;
  padding: 1em;
  text-align: center;
  color: darken($file-uploader__primaryColor, 25%);
}

.file-list {
  background-color: lighten($file-uploader__primaryColor, 45%);
  font-size: 16px;
}

.file-list__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-list li {
  height: 50px;
  line-height: 50px;
  margin-left: .5em;
  border: none;
  overflow: hidden;
}

.removal-button {
  width: 20%;
  border: none;
  background-color: $file-uploader__error;
  color: white;
  
  &::before {
    content: 'X'
  }
  &:focus {
    outline: 0;
  }
}

.file-chooser {
  padding: 1em;
  transition: background-color 1s, height 1s;
  & p {
    font-size: 24px;
    padding-top: 1em;
  }
}

//layout
.file-uploader {
  max-width: 400px;
  height: auto;
  margin: 2em auto;
 
  & * {
    display: block;
  }
  & input[type=submit] {
    margin-top: 2em;
    float: right;
  }
}

.file-list {
  margin: 0 auto;
  max-width: 90%;
}

.file-list__name {
  max-width: 70%;
  float: left;
}

.file-list li {
  @extend %clearfix;
}

.removal-button {
  display: inline-block;
  height: 100%;
  float: right;
}

.file-chooser {
  width: 90%;
  margin: .5em auto;
}

.file-chooser__input {
  margin: 0 auto;
}

.file-uploader__submit-button {
  width: 100%;
  border: none;
  font-size: 1.5em;
  padding: 1em;
  background-color: $file-uploader__primaryColor;
  color: white;
  &:hover {
    background-color: $file-uploader__primaryColor--hover;
  }
}

//layout
.file-uploader {
  @extend %clearfix;
}

//utility

%clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.hidden {
  display: none;
  & input {
    display: none;
  }
}

.error {
  background-color: $file-uploader__error;
  color: white;
}
.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;
}
.whatsnewdemo {
  position: absolute;
  top: 70%;
  left: 80%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;
}
.login {
  position: relative;
  height: 70%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(146, 135, 187, 0.8)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.whats-new .view-what-s-new{padding-left:20px;width:90%;}
.whats-new-marq marquee{ max-height:245px;padding-left:10px;padding-right:10px;}

//reset
*, *::before, *::after {
  box-sizing: border-box;
}
ul, li {
  margin: 0;
  padding: 0;
}
